
@font-face {
    font-family: "Fontspring-Bold";
    src: url("../assets/fonts/Fontspring-bold.otf");
}

@font-face {
    font-family: "Fontspring-Medium";
    src: url("../assets/fonts/Fontspring-medium.otf");
}

@font-face {
    font-family: "Fontspring-Semibold";
    src: url("../assets/fonts/Fontspring-semibold.otf");
}